.layout {
  display: flex;
  min-height: 100dvh;
  background-color: var(--black-color);
}

.sidebar {
  width: 310px;
  min-width: 310px;
  background: var(--gray-color);
  padding: 20px;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform: translateX(0);
}

.sidebar.closed {
  transform: translateX(-100%);
  opacity: 0;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.school {
  font-size: 24px;
  font-family: "Pretendard-bold";
  height: 80px;
  display: flex;
  align-items: center;
}

.userContainer {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  gap: 10px;
  border-bottom: 1px dashed var(--lightgray-color);
}

.userInfo {
  display: flex;
  padding-bottom: 5px;
  gap: 5px;
  font-family: "Pretendard-bold";
  font-size: 20px;
}

.studentId {
  font-family: "Pretendard";
  font-size: 18px;
}

.menu {
  padding: 50px 0 20px 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.menuItem {
  display: flex;
  align-items: center;
  gap: 15px;
  height: 60px;
  padding: 10px;
  border-radius: 10px;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.menuText {
  font-size: 20px;
  font-family: "Pretendard-bold";
}

.subMenu {
  padding-left: 20px;
  margin-top: -20px;
}

.subMenu div {
  font-family: "Pretendard";
  font-size: 18px;
}

.down {
  margin-left: auto;
}

.menu a {
  display: block;
  color: var(--white-color);
  text-decoration: none;
  font-size: 20px;
  font-family: "Pretendard-bold";
}

.menuItem:hover {
  color: var(--orange-color);
}

.menuItem.active {
  background-color: var(--orange50-color);
}

.content {
  flex-grow: 1;
  padding-top: 100px;
  background-color: var(--black-color);
  padding: 100px 40px 0;
  transition: margin-left 0.3s ease;
}

.content.shifted {
  margin-left: -310px;
}

.topName {
  position: fixed;
  height: 80px;
  top: 20px;
  left: 310px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--black-color);
  font-size: 24px;
  font-family: "Pretendard-bold";
  gap: 10px;
  padding-left: 40px;
  transition: left 0.3s ease;
  min-width: 300px;
}

.topName.shifted {
  left: 20px;
}

.iconButton {
  cursor: pointer;
  margin-left: -20px;
}
