.container {
  display: relative;
  z-index: 3;
  padding-bottom: 100px;
}

.headerTitle {
  font-size: 24px;
  font-family: "Pretendard-bold";
  font-weight: 700;
  padding: 10px 0;
}

.searchContainer {
  margin-top: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.searchBox {
  position: relative;
  width: 100%;
  max-width: 400px;
  min-width: 300px;
}

.searchInput {
  width: 100%;
  padding: 15px 40px 15px 20px;
  font-size: 16px;
  border-radius: 10px;
}

.searchIcon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--gray-color);
}

.searchInput:focus-visible {
  border-color: var(--orange-color);
  outline: var(--orange-color);
  outline-width: 5px;
}

.searchInput:focus + .searchIcon {
  fill: var(--orange-color);
}

.results {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 50px;
  padding-bottom: 20px;
}
@media (max-width: 1000px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}

@media (max-width: 768px) {
  .searchBox {
    width: 300px;
  }

  .filter {
    display: none;
  }

  .result {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .resultItem {
    flex: 1 1 100%;
  }
}
