:root {
  --max-width: 1100px;
  --border-radius: 12px;

  /* 색상 지정 */
  --gray-color: #2d2d2d;
  --orange-color: #fd7401;
  --black-color: #1d1d1d;
  --lightgray-color: #8d8d8d;
  --lightgray2-color: #d9d9d9;
  --blue-color: #0099ff;
  --white-color: #ffffff;
  --green-color: #1d6e00;
  --orange50-color: rgba(253, 116, 1, 0.7);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-pretendard);
  color: var(--white-color);
  background-color: var(--gray-color);
}
