.container {
  display: flex;
  flex: 1;
  height: 100dvh;
  background-color: var(--gray-color);
}

.right {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
