.filter {
  width: 180px;
  position: relative; /* 부모 요소를 relative로 설정 */
}

.filterButton {
  width: 100%;
  height: 50px;
  display: flex;
  background-color: var(--gray-color);
  border-radius: 10px;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.icon {
  cursor: pointer;
  padding: 5px;
}

.filterOptions {
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 40px;
  right: 0;
  width: 100%;
  background-color: var(--gray-color);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0 10px;
  overflow: hidden;
  max-height: 0;
  gap: 10px;
  transition: max-height 0.3s ease-out, 0.3s ease-out;
  z-index: 1;
  cursor: pointer;
}
.filterOptions div:hover {
  color: var(--orange-color);
}

.filterOptions.open {
  padding: 20px 10px 10px 10px;
  max-height: 200px;
}
